/* =============
    Hero
============= */
#hero {
    background-image: url("../img/hero/Hero-1.jpg");
    background-position: 40%;
    background-repeat: no-repeat;
    background-size: cover;
    height: 458px;
}
